*.jpg
*.png
.env
venv/
.venv/
images/
venv.bat
sd.bat
.vscode/launch.json
bot/ChatLog.txt
bot/ChatLog.txt
bot/ChatLog.txt
autoSD.code-workspace
*.pyc
gui/.DS_Store
.DS_Store
installer.txt
dist/
build/
*.spec
__pycache__/
__pycache__/*.pyc
*.pyc
readPngParam.py

